.button_default {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 2.375rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--radius1);
    font-weight: 600;
    cursor: pointer;
}

.button_brand {
    background-color: var(--brand1);
    color: var(--grey9);
}

.button_brand:hover {
    background-color: var(--brand2);
}

.button_grey {
    background-color: var(--grey7);
    color: var(--grey4);
}

.button_grey:hover {
    background-color: var(--grey6);
    color: var(--grey3);
}

.button_alert {
    background-color: var(--alert1);
    color: var(--grey9);
}

.button_alert:hover {
    background-color: var(--alert2);
}

.button_white {
    border: 1px solid var(--grey6);
    color: var(--grey1);
}

.button_white:hover {
    background-color: var(--grey8);
}

.medium {
    padding: 0 .5rem;
    height: 2rem;
}

.link {
    width: max-content;
    color: var(--brand1);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.close_button {
    padding: .25rem .875rem;
}